
.icon-twitter:before { content: '\e800'; } /* '' */
.icon-guidedog:before { content: '\e801'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-menu-1:before { content: '\f0c9'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */